<div class="col text-start mb-4">
  <div class="card card-animated shadow-sm border-0 h-100">
    {{ with .Resources.ByType "image" }}
    {{ range first 1 . }}
      {{ $image := . }}
        {{ if ne .MediaType.SubType "svg" }}
          {{ $image = .Fill "640x320" }}
        {{ end }}
        <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="{{ .Title }}" title="{{ .Title }}">
      {{ end }}
    {{ end }}

    <div class="card-body">
      {{ with .Params.categories }}
      <small class="d-inline-block mb-2 text-info">{{ . }}</small>
      {{ end }}

      <h5 class="mb-1">{{ .Title }}</h5>

      {{ if (isset .Params "date") }}
      <div class="mb-2 text-muted">{{ .Params.date | time.Format ":date_long" }}</div>
      {{ end }}

      <p class="card-text mt-3">{{ .Params.abstract | default .Summary }}</p>
    </div>

    <div class="card-footer border-0 bg-transparent">
      <div class="d-flex justify-content-between align-items-center">
        <a href="{{ .Permalink }}" class="stretched-link">{{ i18n "readMore" }}</a>
        <small class="text-muted">{{ i18n "ReadingTime" .ReadingTime }}</small>
      </div>
    </div>
  </div>
</div>
