/* Custom page CSS
-------------------------------------------------- */

main {
  min-height: 350px;
}

body.ja {
  font-family: 'ryo-text-plusn', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN W3', 'MS PMincho', serif;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: 0.01em;
  line-height: var(3.5);
}

body.ja > h1, h2, h3, h4, h5, h6 {
  font-family: 'ryo-display-plusn', 'YuMincho', 'Yu Mincho', '游明朝', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN W3', 'MS PMincho', serif;
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-large {
  width: 64px;
  height: 64px;
}

.feather-center, .svg-center {
  display: inline-flex;
  align-self: center;
}

.navbar-brand img {
  height: 40px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.bg-theme-color {
  --bs-bg-opacity: 1;
  background-color: rgba($teal,var(--bs-bg-opacity))!important;
}

.bg-theme-light {
  --bs-bg-opacity: 1;
  background-color: rgba($light,var(--bs-bg-opacity))!important;
}

.bg-theme-dark {
  --bs-bg-opacity: 1;
  background-color: rgba($gray-700,var(--bs-bg-opacity))!important;
}

.bg-footer-top {
  --bs-bg-opacity: 1;
  background-color: rgba($gray-700,var(--bs-bg-opacity))!important;
}

.bg-footer-bottom {
  --bs-bg-opacity: 1;
  background-color: rgba($teal,var(--bs-bg-opacity))!important;
}

.list-inline-item.separator + .list-inline-item.separator:before {
  content: " | "
}

.list-inline-item.separator:not(:last-child) {
  margin-right: 0;
}
