/* Custom page CSS
-------------------------------------------------- */

main {
  min-height: 350px;
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-large {
  width: 64px;
  height: 64px;
}

.feather-center, .svg-center {
  display: inline-flex;
  align-self: center;
}

.navbar-brand img {
  height: 40px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.bg-theme-color {
  --bs-bg-opacity: 1;
  background-color: rgba($teal,var(--bs-bg-opacity))!important;
}

.bg-theme-light {
  --bs-bg-opacity: 1;
  background-color: rgba($light,var(--bs-bg-opacity))!important;
}

.bg-theme-dark {
  --bs-bg-opacity: 1;
  background-color: rgba($gray-700,var(--bs-bg-opacity))!important;
}

.bg-footer-top {
  --bs-bg-opacity: 1;
  background-color: rgba($gray-700,var(--bs-bg-opacity))!important;
}

.bg-footer-bottom {
  --bs-bg-opacity: 1;
  background-color: rgba($teal,var(--bs-bg-opacity))!important;
}

.list-inline-item.separator + .list-inline-item.separator:before {
  content: " | "
}

.list-inline-item.separator:not(:last-child) {
  margin-right: 0;
}
