{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main role="main" class="flex-shrink-0 mb-0">

  {{ if (isset .Params "banner") }}
    {{ partial "banner" . }}
  {{ end }}

  <div class="container mt-4">
    {{ if or .Title .Content }}
      {{ with .Content }}
        {{ . }}
      {{ end }}
    {{ end }}

    <div class="container pt-md-1 pb-md-4 mb-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
        {{ range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
        </div>
      </div>
    </div>

    {{ template "_internal/pagination.html" . }}
  </div>

  {{ if (isset .Params "callout") }}
  <div class="p-5 mt-5 bg-theme-light">
    {{ with .Params.callout }}
    {{ $name := . }}
    {{ partial $name . }}
    {{ end }}
  </div>
  {{ end }}

</main>
{{ end }}
