{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $columns := ( .Params.columns | default .Site.Params.main.columns ) | default .Site.Data.default.main.columns }}

<main role="main" class="flex-shrink-0 mb-0">

  {{ if (isset .Params "cover") }}
  <div class="px-4 pt-4 pb-2 mb-4 text-white bg-theme-dark banner-section" style="background-image: url('{{ .Params.cover }}')">
    <div class="container text-left">
      <div class="row row-cols-1 g-4 justify-content-left py-md-5">
        <div class="col-xl-8 offset-md-1 py-3">
          <h1 class="bd-title mt-0 fw-bold">{{ .Title }}</h1>
          {{ with .Params.abstract }}
          <p class="bd-lead pt-3">{{ . }}</p>
          {{ end}}
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <article class="container">

    <div class="container pb-4 pt-md-4 text-start">
      <div class="container">
        <div class="row row-cols-1 g-4 justify-content-center">
          <div class="col col-lg-{{ $columns }} px-0">
            {{ .Content }}
          </div>
          {{ if (isset .Params "gitinfo") }}
          <div class="col col-lg-{{ $columns }} text-end text-muted small">
            {{ .GitInfo.AuthorDate }}<br>
            {{ .GitInfo.Hash }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    {{ with .Params.tags }}
    <div class="container py-4 text-start">
      <div class="container">
        <div class="row row-cols-1 g-4 justify-content-center">
          <div class="col col-lg-{{ $columns }}">
            <ul id="tags">
              {{ range . }}
              <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{ end }}

  </article>

  {{ if (isset .Params "callout") }}
  <div class="px-3 py-4 bg-theme-light">
    {{ with .Params.callout }}
    {{ $name := . }}
    {{ partial $name . }}
    {{ end }}
  </div>
  {{ end }}

</main>
{{ end }}
