<div class="form-floating">
  <input type="checkbox" class="form-control bg-theme-light" name="gdpr" id="gdpr" required>
  <label for="gdpr"><strong>Marketing permission</strong>: I give my consent to  to be in touch with me via email using the information I have provided in this form for the purpose of news, updates and marketing.</label>
  <p><strong>What to expect</strong>: If you wish to withdraw your consent and stop hearing from us, simply click the unsubscribe link at the bottom of every email we send or contact us at lotta@lobsta.io. We value and respect your personal data and privacy. To view our privacy policy, please visit our website. By submitting this form, you agree that we may process your information in accordance with these terms.</p>
</div>
