{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main role="main" class="flex-shrink-0">

  {{ if (isset .Params "cover") }}
  <div class="px-4 pt-4 pb-2 mb-4 text-white bg-primary banner-section">
    <div class="container pb-5 pt-md-1 pb-md-4">
      <object type="image/svg+xml" class="pb-3" data="{{ .Params.cover }}" style="width:100%;">
        <img src="{{ .Params.cover }}" class="pb-3" style="width:100%;" />
      </object>
    </div>
  </div>
  {{ end }}

  <div class="container my-5">
    {{ .Content }}
  </div>

  {{ if (isset .Params "callout") }}
  <div class="px-3 py-5 bg-theme-light">
    {{ with .Params.callout }}
    {{ $name := . }}
    {{ partial $name . }}
    {{ end }}
  </div>
  {{ end }}

</main>
{{ end }}
