<footer>
  <div class="bg-footer-top text-light pb-3 mt-0 pt-5">
    {{ if .Site.Params.footer.summary | default .Site.Data.default.footer.summary }}
    <div class="container pb-4">
      <div class="row row-cols-1 g-4 justify-content-center">
        <div class="col col-lg-8">
          <div class="card h-100 bg-transparent border-0">
            <div class="card-body">
              <p class="text-left font-weight-bolder my-3">{{ i18n "footer.summary" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="container">
      <div class="row row-cols-1 row-cols-md-{{ .Site.Params.footer.columns | default .Site.Data.default.footer.columns }} g-4">
        <div class="col text-center mt-2">
          <div class="card h-100 bg-transparent border-0">
            <div class="card-body">
              <p><img src="{{ `/images/logo-icon.svg` | safeURL }}" alt="{{ .Site.Title }}" title="{{ .Site.Title }}"></p>
              <ul class="list-inline mb-0">
                {{ if .Site.IsMultiLingual }}
                {{ range .AllTranslations }}
                  <li class="list-inline-item separator">
                    <a class="small text-light" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                  </li>
                {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </div>

        {{ with .Site.Menus.bottom }}
        {{ range . }}
        <div class="col mt-2">
          <div class="card h-100 bg-transparent border-0">
            <div class="card-body">
              <h5 class="card-title text-uppercase border-bottom pb-2">{{ .Name }}</h5>
              {{ if .HasChildren }}
              <ul class="list-unstyled mb-0">
                {{ range .Children }}
                  <li class="mute"><a class="text-light" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ else }}
              {{/*  No items  */}}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <div class="bg-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <ul class="list-unstyled my-2 my-md-3">
            <li class="list-inline-item  small text-light">&copy; {{ now.Year }} <a class="text-light" href="{{ .Site.BaseURL | relLangURL }}"> Georepublic</a>. {{ i18n "AllRightsReserved" }}</li>
          </ul>
        </div>

        <div class="col-md-4 text-center">
          <ul class="list-unstyled my-0 my-md-3">
            {{ range $.Site.Data.social }}
            {{ if not .draft }}

            {{ $href := .href }}
            {{ if eq (printf "%T" .href) "map[string]interface {}" }}
              {{ $href = index .href $.Site.Language.Lang }}
            {{ end }}

            <li class="list-inline-item small text-light"> <a class="text-light" href="{{ $href }}">
              <svg class="feather ">
                <use xlink:href="/elements/feather-sprite.svg#{{ .icon }}"/>
              </svg>
            </a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>

        <div class="col-md-4 text-center">
          <ul class="list-unstyled my-2 my-md-3">
          {{ range $index, $element := .Site.Menus.footer }}
            <li class="list-inline-item small text-light"><a href="{{ .URL }}" class="text-light">{{ .Pre }} {{ .Name }}</a></li>
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
